p{
    text-align: center;
}

.form-container{
    color: #5d5b8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 193px; */
    justify-content: space-between;
    padding: 1em 3em;
    background-color: white;
    border-radius: 8px;
    gap: 1em;
    box-shadow: 0px 0px 5px 1px #22212154;
    width: min(385px, 90vw);
}

.form{
    width: 100%;
}

.form > *{
    padding: 1em;
    border: none;
}

.form input:not([type="checkbox"]){
    display: block;
    margin: 2em 0 1em 0;
    width: 100%;
    box-shadow: 0px 1px 2px 0px #b9b5b5;
    font-size: 12px;
    outline: none;
}

.form input[type="checkbox"]{
    margin-bottom: 1em;
}

.form button{
    width: 100%;
    color: white;
    background-color: #6580e2;
    font-weight: 700;
    cursor: pointer;
}

.form button:hover:enabled,
.form button:focus:enabled{
    background-color: #3155d7;
    transition: all .5s;
}

.form label{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 0;
    padding-bottom: 1em;
    margin-left: -3px;
    font-size: 0.8rem;
    cursor: pointer;
}

.form label.show-password_label{
    display: unset;
    padding-left: 1em;
}

.form label img{
    border-radius: 0;
}

.toggle-container{
    text-align: center;
}

.toggle-container button{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
