.searchbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #41404038;
    height: 50px;
}

.searchbar input{
    width: 90%;
    outline: none;
    border: none;
    /* background-color: #5f5b8e; */
    background: transparent;
    color: white;
    padding: 1em;
    font-size: clamp(.82rem, 2.8vw ,.95rem);
}

.searchbar input::placeholder{
    color: white;
}

.searchbar ion-icon{
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.searchbar ion-icon:hover,
.searchbar ion-icon:focus{
    color: #c1bbbb;
}

.no-user-found{
    display: block;
    color: #cdcdcd78;
    font-size: 1.25rem;
    font-weight: 700;
    margin-block: 1em;
    text-align:center;
}