.contact{
    display: flex;
    color: white;
    gap: 1em;
    padding: 0.5em;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
}

.contact img{
    width: 45px;
    height: 45px;
}

.contact:hover{
    background-color: #2f2d52;
}

.contact-info{
    overflow: hidden;
}

.contact-info span{
    display: block;
    width: max-content;
}

.contact-info span:nth-child(1){
    font-weight: 500;
    text-transform: capitalize;
}

.contact-info span:nth-child(2){
    font-size: 0.8rem;
}

@media(max-width: 28em){
    .contact img{
        width: 40px;
        height: 40px;
    }
}