.chatareaheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f5b8e;
    color: lightgray;
    padding: 1em;
}

.chatareaheader span{
    text-transform: capitalize;
}

.chatareaheader_options{
    display: flex;
    gap: 0.6em;
    height: 32px;
    align-items: center;
}

.chatareaheader_options ion-icon{
    font-size: 20px;
}