.chat{
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.float_right div{
    justify-content: end;
    flex-direction: row-reverse;
}

.chat div{
    display: flex;
    gap: 1.5em;
    align-items: center;
    /* padding-left: 1em; */
}

.chat div>img{
    width: 40px;
    height: 40px;
}

.chat div>span{
    color: #615e71;
    background: #1c1932;
    padding: 0.5em 1em;
    border-radius: 0 10px 10px 10px;
}

.float_right div>span{
    color: white;
    background: #433491;
    border-radius: 10px 0 10px 10px;
}

.chat>span{
    color: gray;
    font-size: .9rem;
}

#received_image{
    object-fit:unset;
    border-radius: 10px;
    width: 100px;
    height: unset;
}

@media (max-width: 28em){
    .chat div{
        gap: 0.5rem;
    }

    .chat div>img{
        width: 35px;
        height: 35px;
    }
}